<div class="question-container border-bottom" style="padding-top: 15px">
  <h6><strong><%= link_to question.title.capitalize, question_path(question), style: "text-decoration: none" %></strong></h6>
  <p class="text-ellipsis--2"><%= question.content %></p>
  <div class="question-info">
    <div class="answer-count-infos">
      <% @answers = question.answers %>
      <p><%= @answers.count %><%= @answers.count > 1 ? " answers" : " answer" %></p>
    </div>
    <div class="asker-infos">
      <div style="padding-right: 6px"><p><%= question.user.username %></p></div>
        <div><% if question.user.photo.attached? %>
          <%= cl_image_tag question.user.photo.key, crop: :fill, class: "avatar-small" %>
        <% end %>
        </div>
    </div>
  </div>
</div>