<div class="container" style="padding: 15px 15px 15px 15px">
  <div class="container" style="background-color: white; padding: 25px 15px 15px 15px; border-radius: 8px">
    <div class="questions-container" data-controller="question-form" >
      <div style="display: flex; justify-content: space-between">
        <h1><strong>All questions</strong></h1>
        <button class="btn" data-action="click->question-form#toggleForm" data-question-form-target="button">Ask question</button>
      </div>
      <div class="d-grid gap-2 p-1"><%= render "form", question: @question %></div>
    <%# Search bar %>
      <div data-controller="search-questions">
        <%= form_with url: questions_path, method: :get, html: {class:
          "mb-4 pt-4", data: {search_questions_target: "form"}} do |f| %>
          <%= f.text_field :query,
                          class: "form-control",
                          placeholder: "Search for questions",
                          value: params[:query],
                          data: {
                            search_questions_target: "input",
                            action: "keyup->search-questions#update"
                          } %>
        <% end %>
      <%# Questions list %>
        <h5><strong data-question-form-target="counter" data-search-questions-target="counter"><%= @questions.count %><%= @questions.count > 1 ? " questions" : " question" %></strong></h5>
        <%= render "list" %>
      </div>
    </div>
  </div>
</div>
  <%= render "shared/footer_navbar" %>
