<div class="container">
  <div style="background-color: white">
    <p>< <%= link_to "All questions", questions_path, style:"color: grey" %></p>
    <br>
    <h1><%= @question.title.capitalize %></h1>
    <p><%= @question.content %></p>
    <div class="asker-infos">
      <div style="padding-right: 6px"><p><strong>Asked by: </strong><%= @question.user.username %></p></div>
        <div><% if @question.user.photo.attached? %>
          <%= cl_image_tag @question.user.photo.key, crop: :fill, class: "avatar-small" %>
        <% end %>
        </div>
    </div>
    <h4 class="border-bottom"><strong><%=@question.answers.count%> answers</strong></h4>
      <% @question.answers.each do |answer| %>
        <div>
          <p><%= answer.content %></p>
          <div class="answerer-infos border-bottom">
            <div style="padding-right: 6px"><p><strong></strong><%= answer.user.username %></p></div>
            <div><% if answer.user.photo.attached? %>
              <%= cl_image_tag answer.user.photo.key, crop: :fill, class: "avatar-small" %>
            <% end %>
          </div>
        </div>
      <% end %>
      <h4><strong>Your answer</strong></h4>
      <div class="d-grid gap-2 p-3"><%= render "answers/form", question: @question, answer: @answer %></div>
    </div>
  </div>

