<div class="card-product-index" >
<%= link_to root_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
<h1 class="m-2">Chatroom</h1>
</div>
<% @chatrooms.each do |chatroom| %>
  <%= link_to chatroom_path(chatroom), style:"text-decoration:none; color:black;" do %>
  <div class="card-product mb-1">
    <%= cl_image_tag "#{chatroom.interlocutor_of(current_user).photo.key}", alt: "#{chatroom.interlocutor_of(current_user).username}'s avatar", class: 'message-avatar'%>
    <div class="card-product-infos index">
      <h2><%= chatroom.interlocutor_of(current_user).username %></h2>
      <p><strong>Status: </strong><%= chatroom.interlocutor_of(current_user).biker_status %><strong> Language: </strong><%= chatroom.interlocutor_of(current_user).language %></p>
    </div>
  </div>
  <% end %>
<% end %>
  <%= render "shared/footer_navbar" %>
