<div class="card-product">
  <%= link_to chatrooms_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <%= cl_image_tag "#{@chatroom.interlocutor_of(current_user).photo.key}", alt: "#{@chatroom.interlocutor_of(current_user).username}'s avatar", class: 'message-avatar'%>
  <div class="card-product-infos">
    <h2><%= @chatroom.interlocutor_of(current_user).username %></h2>
    <p><strong>Description: </strong><%= @chatroom.interlocutor_of(current_user).description %></p>
    <p><strong>Status: </strong><%= @chatroom.interlocutor_of(current_user).biker_status %><strong> Language: </strong><%= @chatroom.interlocutor_of(current_user).language %></p>
  </div>
</div>
<div data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-user-id-value="<%= current_user.id %>">
  <div class="card msg">
    <div class="card-body chatroom" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
    </div>
  </div>
  <%= simple_form_for [@chatroom, @message],
    html: {
      class: 'input-group',
      data: {
        action: "turbo:submit-end->chatroom-subscription#resetForm"
      }
    } do |f| %>
      <%= f.input :content,
        as: :string,
        label: false,
        placeholder: 'Doodoo...',
        wrapper_html: { class: 'form-outline flex-grow-1' },
        input_html: { class: 'form-control' } %>
      <%= f.submit "Send", class: 'btn btn-primary-light mb-3 d-none' %>
    <% end %>
</div>
