<div class="navbar navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://cdn-icons-png.flaticon.com/512/2972/2972185.png" %>
    <% end %>
    </ul>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa-solid fa-user"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <div data-bs-toggle="dropdown" id="navbarDropdown" aria-expanded="false" aria-haspopup="true">
              <%= link_to "My profile", root_path, class: "dropdown-item" %>
              <%= link_to "Rent my bike", root_path, class: "dropdown-item" %>
              <%= link_to "Log out", root_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
