
<div class="card-user" data-controller="user-map-card" data-user-map-card-target="userCard">
  <div class="card-user-header">
    <%= cl_image_tag "#{user.photo.key}", alt: "#{user.username}'s avatar", class: 'avatar-bordered'%>
    <div>
      <h1> <%= user.username %> </h1>
      <h2> <%= user.biker_status %> </h2>
    </div>
    <div class="header-second-column">
      <i class="fa-solid fa-square-xmark" data-action="click->user-map-card#closeUserMapCard"></i>
      <p> <%= user.language %> </p>
    </div>
  </div>
  <div class="card-user-infos">
    <h2> <%= user.bike_model %> </h2>
    <p> <%= user.description %> </p>
      <% if current_user.chatroom_with(user) %>
        <%= link_to chatroom_path(current_user.chatroom_with(user)), style:"text-decoration:none; color:red;" do %>
          <div id="btn-user-card">
            <p class="btn filters btn-long" >Contact <%= user.username %> </p>
          </div>
        <% end %>
      <% else %>
        <%= link_to chatrooms_path(params: { user_id: user.id }), method: :post, data: { turbo_method: :post }, style:"text-decoration:none; color:red;" do %>
          <div id="btn-user-card">
            <p class="btn filters btn-long" >Contact <%= user.username %> </p>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
