  <%= render "shared/navbar" %>

<div data-controller="filter bikers" >
  <div class="map" style="width: 100%; height: 74vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-users-markers-value="<%= @users_markers.to_json %>"
    data-map-user-position-value="<%= [@userLgn, @userLat]%>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-target="mapbox"
    data-map-hide-markers-value="true">
  </div>

  <div class="search">
    <div class="icon">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <div class="text"
         data-controller="address-autocomplete"
         data-address-autocomplete-user-position-value="<%= [@userLgn, @userLat]%>"
         data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
         data-address-autocomplete-trace-route-value="<%= params[:trace_route] %>"
         data-address-autocomplete-route-coordinates-value="<%= [params[:lat], params[:lng]] %>">
      <input class="text-input" type="text" data-address-autocomplete-target="address" data-action="input->address-autocomplete#input" placeholder="Where do you want to go?">
    </div>
  </div>

  <%= link_to root_path, style: "text-decoration: none;", data: { action: "click->bikers#displayBikers", category: "bikers" } do %>
    <div class="search" data-bikers-target="btnBikers">
      <div class="icon">
        <i class="fa-solid fa-users"></i>
      </div>
      <div class="text" style="margin-left: 4px;">
        <p style="color: black;">Find bikers around me</p>
      </div>
    </div>
  <% end %>

  <div class="btn-contain container">
    <%= link_to root_path, style: "text-decoration: none;", data: { action: "click->filter#getCategory", category: "bikeshop" } do %>
      <div class="filters" data-filter-target="btnBikeshop">
        <div class="icon">
          <i class="fa-solid fa-shop"></i>
        </div>
        <div class="text">
          <p data-filter-target="content">Bike shops</p>
        </div>
      </div>
    <% end %>
    <%= link_to root_path, style: "text-decoration: none;", data: { action: "click->filter#getCategory", category: "campsite" } do %>
      <div class="filters" data-filter-target="btnCampsite">
        <div class="icon">
          <i class="fa-solid fa-campground"></i>
        </div>
        <div class="text">
          <p data-filter-target="content">Camp sites</p>
        </div>
      </div>
    <% end %>
    <%= link_to root_path, style: "text-decoration: none;", data: { action: "click->filter#getCategory", category: "tourism" } do %>
      <div class="filters" data-filter-target="btnTourism">
        <div class="icon">
          <i class="fa-solid fa-monument"></i>
        </div>
        <div class="text">
          <p data-filter-target="content">Tourism</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <%= render "shared/footer_navbar" %>
