<%= render "shared/navbar" %>

<div data-controller="filter bikers address-autocomplete" data-address-autocomplete-user-position-value="<%= [@userLgn, @userLat]%>"
    data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-address-autocomplete-trace-route-value="<%= params[:trace_route] || "false" %>"
    data-address-autocomplete-route-coordinates-value="<%= params[:lat] ? [params[:lat], params[:lng]] : [] %>">

  <div class="map" style="width: 100%; height: calc(100vh - 66px);"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-users-markers-value="<%= @users_markers.to_json %>"
    data-map-user-position-value="<%= [@userLgn, @userLat]%>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-address-autocomplete-target="mapbox"
    data-map-target="mapbox"
    data-map-hide-markers-value="true">
  </div>

<div class="search-filters-container" data-controller="toggle-filters-menu">
  <div data-action="click->toggle-filters-menu#toggleMenu" style="display: flex; justify-content: center; padding-top: 5px">
    <button class="menu-extension-button" type="button"></button>
  </div>
  <%# search bar %>
    <div class="search">
      <div class="icon">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="text" data-address-autocomplete-target="container">
        <input class="text-input" type="text" data-address-autocomplete-target="address" data-action="input->address-autocomplete#input" placeholder="Where do you want to go?">
      </div>
    </div>
  <%# Filters menu %>
    <div class="btn-contain container" data-toggle-filters-menu-target="btnContainer">
    <%# Bikers %>
      <%= link_to root_path, style: "text-decoration: none;", data: { action: "click->bikers#displayBikers", category: "bikers" } do %>
      <div class="filters filter-biker" data-bikers-target="btnBikers">
        <div class="Bikers-icon">
          <%= image_tag "Bikers-icon.png", class:"Bikers-icon" %>
          <%# <%= image_tag "Bikers-icon-active.png", class:"Bikers-icon-active d-none" %>
          <%# <i class="fa-solid fa-users"></i> %>
        </div>
        <div class="text">
          <p data-filter-target="content">Community</p>
        </div>
      </div>
      <% end %>
    <%# Camping %>
      <%= link_to root_path, style: "text-decoration: none;", data: { action: "click->filter#getCategory", category: "campsite" } do %>
        <div class="filters" data-filter-target="btnCampsite">
          <div class="Campsite-icon">
            <%# <i class="fa-solid fa-campground"></i> %>
            <%= image_tag "Campsite-icon.png", class:"Campsite-icon" %>
            <%# <%= image_tag "Campsite-icon-active.png", data-filter-target="btnCampsite", class:"Campsite-icon-active d-none" %>
          </div>
          <div class="text">
            <p data-filter-target="content">Camping</p>
          </div>
        </div>
      <% end %>
    <%# Tourism %>
      <%= link_to root_path, style: "text-decoration: none;", data: { action: "click->filter#getCategory", category: "tourism" } do %>
        <div class="filters" data-filter-target="btnTourism">
          <div class="Tourism-icon">
            <%# <i class="fa-solid fa-monument"></i> %>
            <%= image_tag "Tourism-icon.png", class:"Tourism-icon" %>
            <%# <%= image_tag "Tourism-icon-active.png", data-filter-target:"btnTourism", class:"Tourism-icon-active d-none" %>
          </div>
          <div class="text">
            <p data-filter-target="content">Tourism</p>
          </div>
        </div>
      <% end %>
    <%# Repair shops %>
      <%= link_to root_path, style: "text-decoration: none;", data: { action: "click->filter#getCategory", category: "bikeshop" } do %>
        <div class="filters" data-filter-target="btnBikeshop">
          <div class="Bikeshop-icon">
            <%# <i class="fa-solid fa-wrench"></i> %>
            <%= image_tag "Bikeshop-icon.png", class:"Bikeshop-icon" %>
            <%# <%= image_tag "Bikeshop-icon-active.png", data-filter-target="btnBikeshop", class:"Bikeshop-icon-active d-none" %>
          </div>
          <div class="text">
            <p data-filter-target="content">Repair</p>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%= render "shared/footer_navbar" %>
