<div class="title-new-meeting" >
  <%= link_to chatroom_path(current_user.chatroom_with(User.find(params[:user_id]))) do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <h1 class="m-2">Meeting setup</h1>
</div>
  <div  class="map d-flex flex-direction-column" style="width: 100%; height: 100vh;"
    data-controller="map-meeting-point"
    data-map-meeting-point-users-markers-value="<%= @users_markers.to_json %>"
    data-map-meeting-point-user-position-value="<%= [@userLat, @userLgn]%>"
    data-map-meeting-point-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

    <div  class="mapboxForm" data-map-meeting-point-target='mapbox'>
      <%= simple_form_for([@helper, @meeting_point]) do |f| %>
        <%= f.input :date_time, as: :datetime, html5:true, label: false, required: true, error: "Please set a meeting date and time." %>
        <%= f.input :latitude, label: false, input_html: {data: {map_meeting_point_target: "lat"}, class: 'hidden' }%>
        <%= f.input :longitude, label: false, input_html: {data: {map_meeting_point_target: "long"}, class: 'hidden' }%>
        <%= f.button :submit, 'Send meeting request', class: 'btn filters btn-long btn-contain hidden', data: {map_meeting_point_target: "btn"}%>
      <% end %>
    </div>
  </div>
